.card{
    width: 100%;
}

.card-body{
    background-color: #343a40;
    color: whitesmoke
}

.card-img-top{
    border-radius: 9px 9px 0 0;
    height: 10em;
    overflow: hidden;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-color: black;
    color: white;
}

.card-body{
    border-radius: 0 0 9px 9px;
}

.bottom-button{
    display: flex;
    justify-content: center;
}