<div class="component-wrapper">
  <div class="component-title">
    <h3>Buscar Jugador</h3>
  </div>
  <div class="main-container">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Buscar Jugador
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

    https://www.npmjs.com/package/@angular/fire
  </div>
</div>
