/deep/ .bg-dark{
    border-radius: 1em 1em 0 0;
}

.container{
    margin: 0 auto;
    max-width: 1270px;
    height: 100%;
    background-color: whitesmoke;
    padding: 0;
    border-radius: 1.5em 1.5em 0 0;
}